

.probutton{
    background-color: rgb(183, 121, 241);
    outline: invert;
    border-radius: 60%;
}

.naitem{
    background-color: rgb(62, 130, 246);
    border-radius: 15px;
    color: aliceblue;
    text-align: center;
    box-shadow: 10px 10px 5px lightblue;
    padding: 10px;
    
}

.sidebarr{
    background-color: aquamarine;
}